/*
Theme Name: WpRentals Child theme
Theme URI: http://themeforest.net/user/wpestate
Description: Ultimate WordPress Theme created by WpEstate for accommodation booking. WpRentals is clean, flexible, fully responsive and retina Ready. Its smart settings allow you to build outstanding renting websites easily and fast.
Version: 2.7
Author: wpestate.org
Author URI: http://themeforest.net/user/annapx
Tags: white, one-column, two-columns,left-sidebar, right-sidebar, fluid-layout , custom-menu, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: wprentals

-------------------------------------------------------------- */



/* loader cf7 */
.ui-autocomplete-loading { background:url('https://www.lagovacanze.com/wp-content/themes/wprentals/img/loading-lv.gif') no-repeat right center ;
    background-size: 70px;
}

div.wpcf7 .ajax-loader {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-image: url('https://www.lagovacanze.com/wp-content/uploads/2018/10/ajax-loader.gif');
    margin: 0 auto;
    vertical-align: middle;
    display: inherit;
}

/* placeholder */
::placeholder {
    color: #8a8f9a!important;
    opacity: 0.5;
}

/* menu area amministrazione attivato in base alla tipologia di utente */
/* menu mobile area riservata */
.user_proprietario .user_mobile_menu_list li:nth-of-type(3),
.user_proprietario .user_mobile_menu_list li:nth-of-type(5),
.user_proprietario .user_mobile_menu_list li:nth-of-type(6),
.user_proprietario .user_mobile_menu_list li:nth-of-type(7),
.user_proprietario .user_mobile_menu_list li:nth-of-type(8) {
    display:none;
}
/* menu sinistro area riservata per proprietari  */
.user_proprietario .user_menu_n4 {display:none;}
.user_proprietario .user_menu_n7 {display:none;}
.user_proprietario .user_menu_n8 {display:none;}
.user_proprietario .user_menu_n9 {display:none;}
.user_proprietario .user_menu_n10 {display:none;}
.user_proprietario .user_menu_n2 {display:none;}
.user_proprietario .no-menu-prop {display:none;}
/* menu destro header area riservata per proprietari  */
.user_proprietario .info-container a:nth-of-type(2),
.user_proprietario .info-container a:nth-of-type(3),
.user_proprietario .info-container a:nth-of-type(4),
.user_proprietario .info-container span{
    display:none;
}







.user_proprietario .info-container .btn-prenotaizoni{
    display:block;
    width:108px;
}

.info-container .btn-prenotaizoni{
    display:none;
}

.user_superadmin .info-container .btn-prenotaizoni{
    display:block;
    width:108px;
}

/* cookies notifica banner */
#cookie-notice {
    display: block;
    visibility: hidden;
    position: fixed;
    min-width: 230px;
    width: 230px;
    height: 150px;
    z-index: 100000;
    font-size: 13px;
    line-height: 20px;
    left: 0;
    text-align: center;
    color: #323840!important;
    background-color: rgb(255, 255, 255)!important;
    visibility: visible!important;
}

/* cf7 */
.wpcf7-form-control-wrap input[type=tel],
.wpcf7-form-control-wrap input[type=date],
.wpcf7-form-control-wrap input[type=file],
.wpcf7-form-control-wrap select, select {
    background-color: #fff;
    border: 1px solid #e7e9ef;
    color: #5d6475;
    height: 50px;
    padding:15px;
    width: 100%;
}

.wpcf7-form-control-signature-body {
    border: solid 1px;
}

/* correzione checkbox */


/* Bandierine */
.right-top-widet .wpml-ls-legacy-list-horizontal{
    padding: 0px;
}
.right-top-widet .widget-container li {
    width: 33%;
}
.top_bar .wpml-ls-legacy-list-horizontal a {
    padding: 2px 10px;
}

/* tabella prazzi  */
/* elimino dati della tabella che non servono  */
.custom_day_name_price_per_month,
.custom_day_name_price_per_weekedn,
.custom_day_name_change_over,
.custom_day_name_checkout_change_over,
.custom_day_name_price_per_guest,
.list_detail_prop_price_per_night_30d,
.list_detail_prop_price_per_night_7d,
.list_detail_prop_price_per_night_extra_guest,
.list_detail_prop_price_per_night_weekend {
    display:none!important;
}

/* regolo larghezze nel desktop */
@media only screen and (min-width: 1024px){
    .custom_price_per_day,
    .custom_day_min_days   {
        width:30%!important;
    }

    .custom_day_from_to{
        width:40%!important;
    }
}

/* elimino colonna prezzi della terza e querta colonna */
.custom_price_per_day:nth-of-type(4) {
    display:none!important;
}
.custom_price_per_day:nth-of-type(3) {
    display:none!important;
}

/* regolo altezze della tabella prezzi */
@media only screen and (max-width: 1240px) and (min-width: 991px) {
    .custom_day_header .custom_day_from_to, .custom_day.custom_day_header .custom_price_per_day, .custom_day.custom_day_header .custom_day_min_days, .custom_day.custom_day_header .custom_day_name_price_per_guest, .custom_day.custom_day_header .custom_day_name_price_per_weekedn, .custom_day.custom_day_header .custom_day_name_change_over, .custom_day.custom_day_header .custom_day_name_checkout_change_over, .custom_day.custom_day_header .delete_custom_period {
        height: 37px!important;
    }
}

@media only screen and (min-width: 991px) {
.custom_day_header .custom_day_from_to, .custom_day_header .custom_price_per_day, .custom_day_header .custom_day_min_days, .custom_day_header .custom_day_name_price_per_guest, .custom_day_header .custom_day_name_price_per_weekedn {
    height: 37px!important;
}

.custom_day_from_to, .custom_price_per_day, .custom_day_min_days {
    height: 40px!important;
}
}


.adv_extended_options_show_filters,
.show_filters,
.adv_extended_options_text {
    margin-bottom: 15px;
}

.theme_slider_type2 .slider-content-cover {
    opacity: 0.5;
    background-color: #4d5566;
}

@media only screen and (min-width: 768px) {

    .heading_over_image {
        text-align: center;
        color: #fff;
        text-shadow: none;
        font-size: 78px;
    }

    .subheading_over_image {
        text-align: center;
        color: #fff;
        text-shadow: none;
        font-size: 33px;
    }

}

.heading_over_image{
    font-weight: 600;
}

.subheading_over_image {
    font-weight: 500;
}

.uvc-heading.ult-adjust-bottom-margin {
    margin-bottom: 15px;
}

.status_verified{
    background :#7CBDA2;
    color:white;
}

#wpestate_footer_latest_widget-2 .title-container{
    color:white;
}

.property_menu_item_title {
    color: #ffffff;
}

.sub_footer {
    background-color: #303030;
}



.top_bar_wrapper  .widget li, .widget-container li {
    padding-bottom: 0px;
    border-bottom: 0px solid #e7e9ef;
}


/* Giorgio */





.mobile_header i {
    font-size: 24px;
    color:#9da5b9;
}


#comment {
    padding-left: 10px;
    float: left;
    width: 100%;
}



/* LV Portal */
.privato-admin{
    display:none!important;
}
.user_superadmin .privato-admin {
    display: inline!important;
}


@media only screen and (max-width: 400px){
    .calendar_pad_title, .calendar_pad {
        width: 22px;
        font-size: 9px;
    }
    .property_tab_list_header {
        width: 100%;
    }
    .dayname {
        width: 22px;
        font-size: 9px;
    }
}


.category_tagline:nth-of-type(2) a, .category_tagline:nth-of-type(2) {
    font-size:10px;
}


.single-content p a {
    color: #7BAFCE;
}
.single-content p a:hover {
    color: #FFBC59;
}


.radius_wrap, .slider_radius_wrap{
    display:none;
}

.list_detail_prop_rooms {
    display:none;
}







